@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: var(--nord3);
}

html {
  font-family:
    "Fira Sans Condensed", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--nord0);
}

header {
  margin: 2em auto;
  width: 35em;
  height: 5em;
  background-color: var(--nord4);
  padding: min(2em, 15%);
  border-radius: 1em;
}

.headertext {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--nord4);
  font-size: xx-large;
  font-weight: 900;
}

th {
  font-size: x-large;
  color: var(--nord0);
  background-color: var(--nord6);
  border-radius: 0.5em;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}

.cta-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--nord6);
  background-color: var(--nord10);
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  font-weight: 600;
  font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  white-space: normal;
  width: 12em;
  height: 4em;
}

.on {
  display: inline-block;
  text-decoration: none;
  color: var(--nord6);
  background-color: var(--nord12);
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  font-weight: 600;
  font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  white-space: normal;
  width: 12em;
  height: 4em;
}

.dtm {
  display: inline-block;
  text-decoration: none;
  color: var(--nord6);
  background-color: var(--nord11);
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  font-weight: 600;
  font-family: font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  white-space: normal;
  width: 12em;
  height: 4em;
}

.dtm-small {
  display: inline-block;
  text-decoration: none;
  color: var(--nord6);
  background-color: var(--nord11);
  padding: 0.25em;
  border-radius: 0.5em;
  font-weight: 600;
  font-family: font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  white-space: normal;
  width: 12em;
  height: 4em;
}
